<form action="/search" method="GET" class="nav-link">
    <input type="text" name="i" id="foodSearch" placeholder="Search a recipe" class="nav-link">
    <input type="submit" class="nav-link">
</form>