<h1>Your Favorite Dishes</h1>
<% favorite.forEach(element => { %>
    <p><%= element.name %></p>
    <img src="<%= element.image %>" alt="">
    <form action="/faves?_method=DELETE" method="POST">
        <input type="submit" value="delete" />
      </form>
<% }) %>

