<head>
    <link rel="stylesheet" href="../css/foodList.css">
  </head>

<div class="cover-container d-flex w-100 h-50 mx-auto flex-column">
  <header class="mb-auto">
      <div class="nav nav-masthead justify-content-center float-md-start">
        <h3 class="p-3"><a class="nav-link nav-masthead active text-white mb-4" aria-current="page" href="/">Bytez</a></h3>
    </div>
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <div class="nav nav-masthead justify-content-center float-md-end">
            <a class="text-white p-3 text-decoration-none"href="/faves">My Saved Recipes</a>
            <form action="/search" method="GET" class="form-inline">
                <div class="form-group mx-sm-3 mb-2 p-3">
                  <input type="text" name = "i" class="form-control" id="foodSearch" placeholder="Search A Recipe">
                  <button type="submit" class="btn btn-light m-9 btn-sm">Submit</button>
                </div>
              </form>
         </div>
      </nav>
    </div>
  </header>

<div>
<% results.forEach(food => { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= food.strMealThumb %>" class="card-img-top" alt="An image of <%= food.strMeal %>">
        <div class="card-body bg-dark">
          <p class="card-title"><a class="text-white"href="/search/<%= food.idMeal %>"><%= food.strMeal %></a></p>
        </div>
      </div>
<% }) %>
</div>

</div>


